<h1>Summary</h1>
<p><%= @automakers.size %> automakers</p>

<%= link_to cars_path do %>
    <p><%= @carsCount %> cars</p>
<% end %>

<%= link_to collections_path do %>
    <p><%= @collectionsCount %> collections</p>
<% end %>

<%= link_to brands_path do %>
    <p><%= @brandsCount %> diecast brands</p>
<% end %>

<h1>Automakers</h1>
<ul>
    <% @automakers.each do |automaker| %>
        <li>
            <%= link_to automaker.name, automaker %>
        </li>
    <% end %>
</ul>

<%= link_to "New Automaker", new_automaker_path %>