<h1><%= @automaker.name %></h1>

<p><%= @automaker.country%></p>

<ul>
    <li><%= link_to "Edit", edit_automaker_path(@automaker) %></li>
    <li><%= link_to "Destroy", automaker_path(@automaker), method: :delete, data: { confirm: "Are you sure?"} %></li>
</ul>

<h2>Cars (<%= @automaker.cars.length %>)</h2>
<% @automaker.cars.each do |car| %>
    <p>
        <strong>#<%= car.id %></strong>        
        <strong>Name:</strong>
        <%= car.name %>
        <strong>Year:</strong>
        <%= car.model_year %>
    </p>
<% end %>

<h2>Add a car to your collection:</h2>
<%= form_with model: [ @automaker, @automaker.cars.build ] do |form| %>
    <p>
        <%= form.label :name %><br>
        <%= form.text_field :name %>
    </p>
    <p>
        <%= form.label :model_year %><br>
        <%= form.text_field :model_year %>
    </p>
    <p>
        <%= form.submit %>
    </p>
<% end %>